In [1]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [27]:
# show the input file
!cat data/datestuff.csv

1,2018-04-08,Event 1,12.5,50
2,2018-05-08,Event 2,35.50,65

In [24]:
# You must import the type library
from pyspark.sql.types import *

schema = StructType([
    StructField("id",      IntegerType(), True),
    StructField("date",    DateType(), True),
    StructField("event",    StringType(), True),
    StructField("cost", DecimalType(10,2), True),
    StructField("attendees", IntegerType(), True)
])

In [28]:
# read into the df
df = spark.read.csv("data/datestuff.csv", schema)
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- event: string (nullable = true)
 |-- cost: decimal(10,2) (nullable = true)
 |-- attendees: integer (nullable = true)

+---+----------+-------+-----+---------+
| id|      date|  event| cost|attendees|
+---+----------+-------+-----+---------+
|  1|2018-04-08|Event 1|12.50|       50|
|  2|2018-05-08|Event 2|35.50|       65|
+---+----------+-------+-----+---------+

In [30]:
df.select("date", "event").show()

+----------+-------+
|      date|  event|
+----------+-------+
|2018-04-08|Event 1|
|2018-05-08|Event 2|
+----------+-------+

In [34]:
df.filter("attendees > 50" ).show()

+---+----------+-------+-----+---------+
| id|      date|  event| cost|attendees|
+---+----------+-------+-----+---------+
|  2|2018-05-08|Event 2|35.50|       65|
+---+----------+-------+-----+---------+

In [35]:
df.where("attendees > 50" ).show()

+---+----------+-------+-----+---------+
| id|      date|  event| cost|attendees|
+---+----------+-------+-----+---------+
|  2|2018-05-08|Event 2|35.50|       65|
+---+----------+-------+-----+---------+

In [38]:
df.select("attendees" / 2, "event").show()

TypeError: unsupported operand type(s) for /: 'str' and 'int'